@{
    ViewData["Title"] = "Bienvenida";
}

<div class="hero-section text-center" style="background-color: #9DB8A7; padding: 50px;">
    <h1 class="display-4">Dalu Shop</h1>
    <p class="lead">Descubre los mejores arreglos florales para cualquier ocasión especial.</p>
    <a class="btn btn-primary btn-lg" href="/Products/Index">Ver más</a>
</div>

<div class="container my-5 text-center">
    <h2>Nuestros Clientes</h2>
    <p>La satisfacción de nuestros clientes es nuestra mayor recompensa.</p>
    <div class="row text-center mt-4">
        <div class="col-md-3">
            <i class="bi bi-camera" style="font-size: 2rem; color: #74b9ff;"></i>
            <h4 class="mt-2">Diseño Elegante</h4>
            <p>Creamos diseños únicos y creativos para cada ocasión.</p>
        </div>
        <div class="col-md-3">
            <i class="bi bi-lightbulb" style="font-size: 2rem; color: #74b9ff;"></i>
            <h4 class="mt-2">Proyectos Asombrosos</h4>
            <p>Nos dedicamos a hacer tus sueños realidad con flores.</p>
        </div>
        <div class="col-md-3">
            <i class="bi bi-clock" style="font-size: 2rem; color: #74b9ff;"></i>
            <h4 class="mt-2">Horario Extendido</h4>
            <p>Estamos disponibles para ti en todo momento.</p>
        </div>
        <div class="col-md-3">
            <i class="bi bi-cup" style="font-size: 2rem; color: #74b9ff;"></i>
            <h4 class="mt-2">Momentos Especiales</h4>
            <p>Hazlos inolvidables con nuestros arreglos florales.</p>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-3">
            <img src="~/images/Producto2.jpg" alt="Flores 1" class="img-fluid rounded">
        </div>
        <div class="col-md-3">
            <img src="~/images/Producto4.jpg" alt="Flores 2" class="img-fluid rounded">
        </div>
        <div class="col-md-3">
            <img src="~/images/Producto12.jpg" alt="Flores 3" class="img-fluid rounded">
        </div>
        <div class="col-md-3">
            <img src="~/images/Producto8.jpg" alt="Flores 4" class="img-fluid rounded">
        </div>
    </div>
</div>
